<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
      Where packages should go.  Visual Studio will provide a default value of $(SolutionDir) but command-line based
      package restores could end up in a different location.  Setting this value keeps Visual Studio and NuGet.exe
      in sync for packages.config based restores.
    -->
    <add key="repositoryPath" value=".\src\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <!--
      VSTS Package feed containing CBT modules.  If your project is open source on GitHub you can use the external feed
      "https://www.myget.org/F/cbt/api/v3/index.json" instead.
    -->
    <add
      key="CBT"
      value="https://microsoft.pkgs.visualstudio.com/_packaging/CBT/nuget/v3/index.json"
    />
    
    <!--
      OSS_All contains approved open-source components.  If your code is open-source and on GitHub, you can reference
      the public NuGet feed "https://api.nuget.org/v3/index.json" instead.
    -->
    
    <add
      key="OSS_All"
      value="https://ossmsft.pkgs.visualstudio.com/_packaging/OSS_All/nuget/v3/index.json"
    />

    <!--
      You can add one or more feeds below.  The less feeds the better since NuGet.exe will query all feeds when
      attempting to locate packages.
    -->
    <!--
    <add
      key="MyFeed"
      value="https://ACCOUNT.pkgs.visualstudio.com/_packaging/FEED/nuget/v3/index.json"
    />
    -->
    
  </packageSources>
</configuration>